.intro {
  position: relative;
  overflow: hidden;
  padding-bottom: 7.2rem;
  background-image: url("../img/content/bg-men.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 104%;
  @include vp--1279 {
    background-position: 60%;
  }
  @include vp--1023 {
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 10.3rem 0;
    @include vp--767 {
      padding: 4rem 0;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0 0 9rem 0;
    font-size: 4.8rem;
    text-transform: uppercase;
    color: $color-default-black;
    @include vp--1023 {
      font-size: 4.2rem;
    }
    @include vp--767 {
      margin: 0 0 3rem 0;
      font-size: 2.1rem;
    }
    @include vp--374 {
      font-size: 1.8rem;
    }
  }
  &__subtitle {
    margin: 0 0 1.1rem 0;
    font-weight: 700;
    font-size: 2rem;
    color: $color-default-black;
    @include vp--767 {
      font-size: 1.7rem;
    }
  }
  &__list {
    @include reset-list;
    padding-left: 2.6rem;
  }
  &__item {
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: $color-default-black;
    &::before {
      position: absolute;
      content: "-";
      left: -17px;
      top: -2px;
    }
    @include vp--767 {
      font-size: 1.5rem;
    }
  }
  &__description {
    margin-bottom: 7.4rem;
    @include vp--767 {
      margin-bottom: 3rem;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 3rem;
    @include vp--767 {
      gap: 16px;
      margin-bottom: 1rem;
    }
  }
  &__btn {
    width: 18.3rem;
    padding: 1.3rem;
    @include vp--767 {
      width: 100%;
    }
  }
}
