.mobile-nav {
  position: relative;

  &__wrapper {
    display: none;
    opacity: 0;
    height: 0;
    transition: transform $trans-default, opacity $trans-default;
  }

  &__wrapper.active {
    display: block;
    z-index: 5;
    position: absolute;
    left: 0;
    opacity: 100;
    width: 100%;
    height: auto;
    background-color: $color-main-bg;

    padding: 20px 0 28px;
  }
}



.mobile-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.mobile-nav__item {
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 24px;
}

.mobile-nav__link {
  //color: $color-nero;
}

.mobile-nav__select {
  padding: 0;
  //color: $color-nero;
}
