.mobile-nav {
  position: relative;

  &__wrapper {
    display: none;
    opacity: 0;
    height: 0;
    transition: transform $trans-default, opacity $trans-default;
  }

  &__wrapper.active {
    display: block;
    z-index: 5;
    position: absolute;
    top: -1;
    left: 0;
    opacity: 100;
    width: 100%;
    height: auto;
    padding: 2rem 0 2.8rem;
    background-color: $color-main-bg;
  }
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 1.2rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  &__link {
    @include vp--767 {
      display: inline-block;
      width: 100%;
    }
  }
}
