mixin header(headerMods, currentPage)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Каталог инструментов",
      },
      {
        href: "#",
        text: "Все для сада"
      },
      {
        href: "#",
        text: "Ручной инструмент"
      },
      {
        href: "#",
        text: "Электрика"
      },
      {
        href: "#",
        text: "Доставка"
      },
      {
        href: "#",
        text: "Оплата"
      },
      {
        href: "#",
        text: "О нас"
      },
    ]

    const promoLinks = [
      {
        href: "#",
        src: "drill-green"
      },
      {
        href: "#",
        src: "drill-yellow"
      },
      {
        href: "#",
        src: "screwdriver"
      },
    ]
  header.header(class=headerMods)
    .container
      .header__content-wrapper
        if(currentPage === "main.html")
          .header__logo
            .header__logo-img
              +img("content", "logo", "png", 120, 120, "Логотип")
            span.header__logo-text магазин инструмента
        else
          a.header__logo(href="main.html", aria-label="Переход на главную")
            .header__logo-img
              +img("content", "logo", "png", 120, 120, "Логотип")
            span.header__logo-text магазин инструмента

        .header__content
          nav.main-nav
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.main-nav__link.is-active=link.text
                  else
                    a.main-nav__link.hover-red(href=link.href)=link.text

            .header__entrance
              ul.header__entrance-list
                li.header__entrance-item
                  button.button.button--transparent.header__entrance-btn.hover-red(type="button", aria-label="Вход в личный кабинет") Вход
                li.header__entrance-item.has-divider
                  button.button.button--transparent.header__entrance-btn.hover-red(type="button", aria-label="Регистрация") Регистрация

          .header__menu
            .header__mock
            .header__choice
              ul.header__choice-list
                li.header__choice-item.header__cart
                  a.header__choice-link.font-big.hover-red(href="#", aria-label="Посмотреть корзину")
                    .header__choice-icon
                      +icon("icon-cart", 19, 18)
                    span.header__choice-underline.cart-number 3&nbsp;
                    span.header__choice-underline шт.&nbsp;/&nbsp;
                    span.header__choice-underline.cart-summ 17&nbsp;250&nbsp;
                    span.header__choice-underline р.
                li.header__choice-item.header__star
                  a.header__choice-link.hover-red(href="#", aria-label="Посмотреть избранное")
                    .header__choice-icon
                      +icon("icon-star-fill", 14, 14)
                    span.header__choice-underline Избранное&nbsp;(
                    span.header__choice-underline.fav-number 7
                    span.header__choice-underline )
                li.header__choice-item.header__star
                  a.header__choice-link.hover-red(href="#", aria-label="К сравнению")
                    .header__choice-icon
                      +icon("icon-scales", 18, 16)
                    span.header__choice-underline К&nbsp;сравнению&nbsp;
                      span.header__choice-underline.compare-number (5)

            .header__promo-cards
              +promo-links(promoLinks)





            .header__work-information


      .header__search-panel
