// Colors
// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);
$color-main-bg-trans:             rgba(39, 39, 51, 0.9);
$color-main-bg:                   #272733;
$color-accent-blue:               #43abf0;
$color-blue:                      #3e9cdc;
$color-detail-blue:               #42a9ed;
$color-border-blue:               #286690;
$color-gray-bg:                   #3d4050;
$color-font-white:                #c3c3c3;
$color-light-grey:                #d7d7d7;
$color-text-white:                #bbbbbb;
$color-text-grey:                 #2a2b30;
$color-text-dark-grey:            #272733;
$color-border:                    #6f6d7b;

// Typography
//---------------------------------

$font-family--lato:                "Lato", "Arial", sans-serif;

// Animation
//---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
