.bar {
  margin-bottom: 10px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
  }
  &__input {
    position: relative;
    &::after {
      content: "%";
      position: absolute;
      top: 2px;
      right: 3px;
      width: 10px;
      height: 100%;
    }
  }
  &__input input {
    height: 22px;
    padding-right: 20px;
    text-align: right;
    color: $color-default-white;
    background-color: $color-transparent;
    border: none;

    &::placeholder {
      font-weight: 600;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.85);
    }
  }

  &__range {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid $color-default-white;
    border-radius: 4px;
  }

  &__handle {
    content: "";
    position: absolute;
    top: -10px;
    right: 20%;
    width: 23.75px;
    height: 23.75px;
    background-color: $color-detail-blue;
    border: 3px solid $color-border-blue;
    border-radius: 50px;
    cursor: pointer;
  }
}
