.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all $trans-default;

  &--main {
    border-radius: 4px;
    text-transform: uppercase;
  }

  // colors
  &--accentColor {
    background-color: $color-blue;
    border: 0.1rem solid $color-default-white;
    color: $color-default-white;
  }
  &--white {
    background-color: $color-default-white;
    border: 0.1rem solid $color-border;
    color: $color-text-grey;
  }

  // sizes
  &--m {
    padding: 1.45rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  &--s {
    padding: 1.45rem;
    font-weight: 400;
    font-size: 1.3rem;
  }
}
