.custom-select {
  position: relative;
  height: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    .custom-select__btn {
      color: $color-detail-blue;
    }

    svg {
      color: $color-detail-blue;
    }
  }

  select {
    display: none;
  }

  svg {
    position: absolute;
    top: 45%;
    right: 10px;
    width: 0.9rem;
    height: 0.6rem;
    color: $color-default-black;
    transition: all $trans-default;
  }

  &__btn {
    align-items: center;
    padding: 1.2rem 2rem 1.2rem 1rem;
    height: 48px;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-text-dark-grey;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0.1rem solid $color-default-white;
    border-radius: 3px;
    overflow: hidden;
    transition: color $trans-default;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 370px;
    width: 100%;

    @include vp--1279 {
      max-width: 356px;
    }

    @include vp--1023 {
      max-width: 297.34px;
      font-size: 1.6rem;
    }

    @include vp--900 {
      max-width: 256.33px;
    }

    @include vp--767 {
      max-width: 100%;
    }
  }

  &__dropdown {
    display: none;
  }

  &__list div:hover,
  &__list div:focus,
  .same-as-selected {
    color: $color-detail-blue;
    border-radius: 3px;
  }

  /* when the select box is open: */
  &.open {
    svg {
      color: $color-default-white;
      transform: scale(1, -1);
    }

    .custom-select__btn {
      color: $color-default-white;
      background-color: rgba(61, 64, 80, 0.85);
      border-color: rgba(61, 64, 80, 0.85);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .custom-select__dropdown {
      z-index: 99;
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(39, 39, 51, 0.9);
      border: 0.1rem solid $color-gray-bg;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .custom-select__wrapper {
      margin: 1rem;
    }

    .custom-select__list {
      max-height: 23rem;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      font-size: 1.8rem;
      color: $color-default-white;
      transition: all $trans-default;

      div {
        padding: 1.2rem 1rem;
        cursor: pointer;
      }
    }
  }
}
