.form {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__group {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;

    &:last-of-type {
      margin-bottom: 4.2rem;

      @include vp--767 {
        margin-bottom: 3rem;
      }
    }

    @include vp--767 {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 3rem;
      }
    }
  }

  &__select,
  &__input {
    @include vp--767 {
      width: 100%;
    }
  }

  &__select select,
  &__input input {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0.1rem solid $color-default-white;
    border-radius: 0.3rem;
  }

  &__input input {
    padding: 1.2rem 1rem;
    font-weight: 800;
    color: $color-default-black;

    &::placeholder {
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-text-dark-grey;
    }
  }

  &__select select {
    padding: 1.2rem 3rem 1.2rem 1rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.8em) 1.1em;
    background-size: 0.5em auto;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNOC45MzM3NSAxLjUxMDc5QzguOTMzNzUgMS40MzkzNiA4Ljg5ODAzIDEuMzU5IDguODQ0NDYgMS4zMDU0M0w4LjM5ODAzIDAuODU5QzguMzQ0NDYgMC44MDU0MjkgOC4yNjQxIDAuNzY5NzE0IDguMTkyNjggMC43Njk3MTRDOC4xMjEyNSAwLjc2OTcxNCA4LjA0MDg5IDAuODA1NDI5IDcuOTg3MzIgMC44NTlMNC40NzgzOSA0LjM2NzkzTDAuOTY5NDYyIDAuODU5QzAuOTE1ODkgMC44MDU0MjkgMC44MzU1MzMgMC43Njk3MTQgMC43NjQxMDUgMC43Njk3MTRDMC42ODM3NDggMC43Njk3MTQgMC42MTIzMTkgMC44MDU0MjkgMC41NTg3NDggMC44NTlMMC4xMTIzMTkgMS4zMDU0M0MwLjA1ODc0NzUgMS4zNTkgMC4wMjMwMzMxIDEuNDM5MzYgMC4wMjMwMzMxIDEuNTEwNzlDMC4wMjMwMzMxIDEuNTgyMjEgMC4wNTg3NDc1IDEuNjYyNTcgMC4xMTIzMTkgMS43MTYxNEw0LjI3MzAzIDUuODc2ODZDNC4zMjY2IDUuOTMwNDMgNC40MDY5NiA1Ljk2NjE0IDQuNDc4MzkgNS45NjYxNEM0LjU0OTgyIDUuOTY2MTQgNC42MzAxOCA1LjkzMDQzIDQuNjgzNzUgNS44NzY4Nkw4Ljg0NDQ2IDEuNzE2MTRDOC44OTgwMyAxLjY2MjU3IDguOTMzNzUgMS41ODIyMSA4LjkzMzc1IDEuNTEwNzlaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    cursor: pointer;
  }

  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
    border-color: $color-blue;
  }

  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  &__add-file {
    position: relative;

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 9px 10px;
      font-weight: 600;
      font-size: 1.5rem;
      text-transform: uppercase;
      background-color: $color-default-white;
      border: 2px solid $color-blue;
      border-radius: 3px;
      color: $color-text-dark-grey;
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0 0 0 0);
      padding: 0;
      border: none;
    }

    &.not-empty {
      .form__add-icon {
        svg {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
          }
        }
      }

      .form__add-text {
        width: calc(100% - 3.5rem);
        font-weight: normal;
        text-transform: none;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__add-sign {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    svg {
      width: 1.8rem;
      height: 2.6rem;

      &:last-child {
        display: none;
        width: 1.8rem;
        height: 2rem;
      }
    }
  }

  &__add-text {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__file-remove {
    display: none;
    position: absolute;
    right: 16px;
    top: 14px;
    padding: 0;
    background-color: $color-transparent;
    border: none;
    cursor: pointer;

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    &.active {
      display: block;
    }
  }
}
