.scheme {
  width: 100%;
  &__list {
    @include reset-list;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: 0 auto;
    column-gap: 30px;
    max-width: 100%;
    font-size: 16px;
    @include vp--1023 {
      column-gap: 10px;
    }

     @include vp--767 {
      flex-direction: column;
       row-gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 209px;
    padding: 0 10px;
    @include vp--1279 {
      width: 170px;
    }
     vp--1023 {
      width: 110px;
    }
    @include vp--767 {
      width: 100%;
    }
  }
  &__item:not(:last-of-type) {
      position: relative;
  }
  &__item:not(:last-of-type) {
    .scheme__icon::after {
      position: absolute;
      content: '';
      top: 30%;
      right: -34%;
      width: 110px;
      height: 6px;
      background-image: url(../img/svg/dots.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      @include vp--1279 {
        right: -36%;
        background-size: 75%;
        width: 94px;
      }
      @include vp--1023 {
        top: 24%;
      }
      @include vp--973 {
        right: -33%;
        width: 60%;
      }
      @include vp--767 {
        display: none;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-color: $color-blue;
    border: 5px solid $color-border-blue;
    border-radius: 50%;

    @include vp--1023 {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }
    @include vp--767 {
      width: 100px;
      height: 100px;
    }
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    svg {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    max-width: -webkit-fill-available;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    @include vp--1023 {
      font-size: 14px;
      max-width: 90px;
    }
    @include vp--767 {
      max-width: 70%;
    }
  }
}
