mixin bar(data)
  .bar
    .bar__wrapper
      .bar__info
        div.bar__text!=data.text
        div.bar__input
          label(for="barRangeInput")
          input(id="barRangeInput" name="bar-range-input" type="number" placeholder="75")
      .bar__range
        label(for="barRange" aria-label="barRange")
        input(id="barRange" name="bar-range" type="range" min="0" max="100" value="75" step="5")
