-
  const orderBar = {
    text: "Sed ut perspiciatis, unde omnis iste natus"
  }
mixin form()
  .form-order
    form(action="#" method="post").form
      .form__wrapper
        .form__group
          .form__select
            .custom-select
              label(for="systemType").custom-select__label
              select(id="systemType" name="system-type")
                option(value="") Выберите тип системы
                option(value="Ed ut perspiciatis") Ed ut perspiciatis
                option(value="Nemo enim") Nemo enim ipsam
                option(value="Et harum") Et harum quidem
                option(value="Temporibus") Temporibus autem
                option(value="Itaque") Itaque earum rerum
                option(value="Nemo") Nemo
                option(value="Uyy jhfue") Uyy jhfue
                option(value="Tem eieipo") Tem eieipo ribus
                option(value="Uhhf") Uhhf hjwuw iwwi
              +icon('icon-dropdown', 9, 6)

              .custom-select__btn Выберите тип системы
              .custom-select__dropdown
                .custom-select__wrapper
                  .custom-select__list
                    div Ed ut perspiciatis
                    div Nemo enim ipsam
                    div Et harum quidem
                    div Temporibus autem
                    div Itaque earum rerum
                    div Nemo
                    div Uyy jhfue
                    div Tem eieipo ribus
                    div Uhhf hjwuw iwwi

          .form__input
            label(for="userEmail")
            input(id="userEmail" name="user-email" type="email" placeholder="Ваш e-mail" required)
          .form__input
            label(for="userName")
            input(id="userName" name="user-name" type="text" placeholder="Ваше имя" required)
        .form__group
          +bar(orderBar)

          .form__add-file
            label
              input(type="file" id="user-file" accept=".jpg, .png, .pdf, .doc, .jpeg")
              span.form__add-sign.hover-main
                span.form__add-icon
                  +icon('icon-pin', 18, 21)
                  +icon('icon-file', 30, 40)
                span.form__add-text Прикрепить файл
            button(type="button").form__file-remove
              +icon('icon-close', 14, 14)
        button.button.button--main.button--accentColor.button--m.form__button.form-order__button.hover-secondary(type="submit" aria-label="Отправить") Отправить
