-
  const orderScheme = [
    {
      text: 'Lorem ipsum dolor sit amet',
      iconName: 'icon-search',
      iconWidth: 55,
      iconHeight: 55,
    },
    {
      text: 'Сonsecteturadipiscing elit',
      iconName: 'icon-percent',
      iconWidth: 55,
      iconHeight: 56,
    },
    {
      text: 'Sed do eiusmod tempor',
      iconName: 'icon-list',
      iconWidth: 55,
      iconHeight: 56,
    },
    {
      text: 'Esse cillum dolore eu fugiat',
      iconName: 'icon-mail',
      iconWidth: 55,
      iconHeight: 56,
    },
    {
      text: 'Excepteur sint occaecat cupidatat non proident',
      iconName: 'icon-money',
      iconWidth: 55,
      iconHeight: 56,
    }
  ]
mixin order()
  section.order
    .container
      .order__content
        h2.order__title Оформление
          span.order__accent &nbsp;&nbsp;заказа
        p.order__description Перед заполнением формы ознакомьтесь с нашей схемой работы!
        .order__scheme
          +scheme(orderScheme)
        +form()
