mixin promo-links(data)
  ul.promo-links
    each link in data
      li.promo-links__item
        a.promo-links__link(href=link.href)
          +picture("content", link.src, "jpg", 70, 70, link.altText)
